!!!
%html
  %head
    %title Runnable Starter Application
    %link{:rel => :stylesheet, :type => :"text/css", :href => "styles.css"}
  %body
    %div
      %section
        %h1 Hello World!
        %h2 Your web application is running!
        %p 
          Make a commit to see your changes show up below.
      %section
        %p
          Current branch:
          %b= name # Variable from gitInfo object set to local
        %p
          Commit:
          %b= shortSHA
        %p
          Commit author:
          %b= lastCommitAuthor
